@import '../../global.scss';

.intro{
    background-color:white;
    display: flex;

    @include mobile {
        flex-direction: column;
        text-align: center;
    }

    .left{
        flex:0.6;
        overflow: hidden;
       

        .imagecontainer{
            width: 700px;
            height: 700px;
            overflow: hidden;
            background-color: white;
           
            align-items: flex-end;
            border-radius: 50%;
            display: flex;
            float: right;
            justify-content: center;

            @include mobile{ 
                align-items: flex-start;
            }

            img{
                height: 90%;
              
                @include mobile{
                    height: 50%;
                   
                }
            }    
            
        }
    }

    .right{
        flex: 0.4;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
              }

            h3{
                font-size: 30px;
                margin: 10px 0;
                
                @include mobile {
                    font-size: 22px;
                    padding-bottom: 2;
                }
            }
           h2{
                font-size: 40px;
                margin: 10px 0;
                color: red;

                @include mobile{
                    font-size: 30px;
                }
           }

           h4{
                font-size: 20px;
                margin: 10px 0;
                
                @include mobile{
                    font-size: 15px;
                }

           }
        }

        a{
            position: absolute;
            bottom: 10px;
            left: 40%;

            @include mobile {
                display: none;
            }
            
        }
        .arrow{
            font-size: 50px;
            margin-top: 10px;
            margin-right: 10px;
            animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
            to{
                opacity: 0;
            }
            
        }
    }
}