.education {
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;

    .arrow{
        position: absolute;
        height: 80px;
        margin-top: 200px;
        cursor: pointer;

        &.left{
            left: 100px;
            transform: rotatey(180deg);
        }

        &.right{
            right: 100px;
        }
    }
    
         
    .slider{
        height: 90%;
        display: flex;
        margin-top: 20px;
        justify-content: center;
        text-align: center;
        position: absolute;
        
        left: 0;
        
       

        .container{
            width: 100vw;
            display: flex;
            text-align: center;
            justify-content: center;

           
        
            
            .item{
                width: 70%;
                height: 90%;
                background-color: white;
                border-radius: 5px;
                margin-top: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                
            

                .left{
                    flex: 5;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
                    .leftcontainer{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        
                        align-items: center;
                        
                        justify-content: center;


                        .imagecontainer{
                            width: 400px;
                            height: 400px;
                            display: flex;
                            
                            align-items: center;
                            justify-content: center;

                            img{
                                width: 430px;
                                height: 350px;
                                

                                 &:hover{
                                     border: 2px solid;
                                     cursor: pointer;
                                     opacity: 10;
                                 }       

                                }

                               
                        }
                    }


                }
        
                .right{
                    flex: 7;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .rightcontainer{
                        width: 80%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;             
                       

                        .cap{
                            height: 150px;
                            width: 150px;
                            margin: 0; 
                        }

                        p{
                            font-size: 20px;
                            padding: 15px;
                            color: rgb(58, 29, 35);
                            font-weight: bold;
                        }

                        h2{
                            color: crimson;
                            
                        }
                    }
                }
            }


        }

        
    }
}